<header class="cs_site_header cs_style_1 cs_fs_18 cs_sticky_header">
      <div class="cs_main_header">
        <div class="cs_main_header_in">
          <div class="cs_main_header_left">
            <a class="cs_site_branding" href="/home">
              <img src="/static/images/logo.svg" alt="Logo">
            </a>
          </div>
          <div class="cs_main_header_center">
            <div class="cs_nav cs_medium cs_primary_font">
              <ul class="cs_nav_list">
                <li class="menu-item-has-children">
                  <a href="{% url 'home' %}">Home</a>
                  <ul>
                    <li><a href="{% url 'home' %}">Home v1</a></li>
                  </ul>
                </li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li class="menu-item-has-children">
                  <a href="{% url 'available_tours' %}">Tour Packages</a>
                  <ul>
                    <li><a href="{% url 'available_tours' %}">Tour Packages</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="{% url 'bus_list' %}">Bus Booking</a>
                  <ul>
                    <li><a href="{% url 'bus_list' %}">Bus Booking</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="{% url 'login_view' %}">Login</a>
                  <ul>
                    <li><a href="{% url 'login_view' %}">Login</a></li>
                    <li><a href="{% url 'register_view' %}">Register</a></li>
                  </ul>
                </li>
                </li>
              <li><a href="{% url 'contact' %}">Contacts</a></li>
              </ul>
               </div>
          </div>
            <div class="cs_main_header_right">
            <div class="cs_header_toolbox">
              <div>
                <button class="cs_search_btn cs_fs_24" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
              </div>
              <div class="cs_fs_20 cs_medium">+8 (123) 985 789</div>
            </div>
          </div>
        </div>
      </div>
    </header>